<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Acceso Denegado</title>
    <link rel="stylesheet" href="../../static/css/error/403.css">
</head>
<body>
    <div class="error-card">
        <h1>Error 403</h1>
        <p>Lo sentimos, no tienes permisos para acceder a este recurso. Si crees que es un error, contacta con el administrador: info@aeptic.es</p>
        <a href="/" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>
