<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página No Encontrada</title>
    <link rel="stylesheet" href="../../static/css/error/404.css">
</head>
<body>
    <div class="error-card">
        <h1>Error 404</h1>
        <p>Lo sentimos, la página que buscas no existe o ha sido movida. Verifica la URL e intenta de nuevo.</p>
        <a href="/" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>
