<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado - Sin Permisos</title>
    <link rel="stylesheet" href="../../static/css/error/sin_permisos.css">
</head>
<body>
    <div class="error-card">
        <h1>Área Protegida</h1>
        <p>Lo sentimos, <strong>{{ request.user.username }}</strong>. Tu cuenta actual no tiene los permisos de Administrador o Manager necesarios para ver esta página.</p>
        <a href="/" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>