<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado - Inicia Sesión</title>
    <link rel="stylesheet" href="../../static/css/error/sin_loguear.css">
</head>
<body>
    <div class="error-card">
        <h1>Acceso Restringido</h1>
        <p>Parece que no has iniciado sesión o tu sesión ha caducado. Por favor, identifícate para continuar.</p>
        <a href="{% url 'login' %}" class="btn">Ir a Iniciar Sesión</a>
    </div>
</body>
</html>